<%- include('../partials/header') %>

<section id="show-page">
    <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.airport %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.departs %> </td>
        <td><%= flight.destinations %></td>
        <!-- finish the ternary expression to display
                     'Yes' or 'Nope' --> 
       
      </tr>
 
  
<%- include('../partials/footer') %>